<meta charset="UTF-8">
<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-text">
					<span class="name">{{Titulo}}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Portfolio Grid Section -->
<section class="grid form_ligacao" ng-controller="LigacaoController">
	<div class="container">

		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
				<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
				
				<form name="sentMessage" id="contactForm" novalidate>

					<input type="hidden"id="nome" ng-model="ligacao.id">
	
					<div class="row control-group">
					
							<div class="form-group col-xs-12 floating-label-form-group controls floating-label-form-group-with-value">

								<h3>DADOS GERAIS</h3>

							</div>
							
							<div
								class="form-group col-xs-12 floating-label-form-group controls floating-label-form-group-with-value">
								<label>Usuário Responsável</label>
								<select class="form-control" required data-validation-required-message="Por favor selecione um contato"
							    ng-options="usuario.nome for usuario in usuarios track by usuario.id" ng-model="ligacao.usuarioresponsavel" >    
								    <option value="">Usuário Responsável</option>
								</select>											
	
								<p class="help-block text-danger"></p>
								
							</div>
							
					</div>

					<div class="row control-group">
		
						<input type="hidden"id="nome" ng-model="ligacao.id">
			
						<div class="form-group col-xs-6 floating-label-form-group controls floating-label-form-group-with-value">
							
							<label>Contato</label> 
							<select class="form-control" id="contatoempresa" required data-validation-required-message="Por favor selecione um contato"
							    ng-options="contato.nome for contato in contatos track by contato.id" ng-model="ligacao.contato" >    
							    <option value="">Contato</option>
							</select>	
							<p class="help-block text-danger"></p>
						</div>
						
						<div class="form-group col-xs-6 floating-label-form-group controls floating-label-form-group-with-value">
							
							<label>Empresa</label> 
							<select class="form-control" id="empresacontato" required data-validation-required-message="Por favor selecione um contato"
							    ng-options="empresa.razaosocial for empresa in empresas track by empresa.id" ng-model="ligacao.empresa" >    
							    <option value="">Empresa</option>
							</select>	
							<p class="help-block text-danger"></p>
						</div>
						

					</div>
					
					<div class="row control-group">
					
						<div class="form-group col-xs-6 floating-label-form-group controls floating-label-form-group-with-value">
							<label>Telefone</label> 
		      				<select class="form-control" required data-validation-required-message="Por favor selecione um tipo de ligação"
						    ng-options="telefone.numero for telefone in telefones track by telefone.id" ng-model="ligacao.telefone" >   
							    <option value="">Telefone</option>
							</select>

						 	<p class="help-block text-danger"></p>
						</div>

						<div class="form-group col-xs-6 floating-label-form-group controls floating-label-form-group-with-value">
							<label>Tipo</label> 
		      				<select class="form-control" required data-validation-required-message="Por favor selecione um tipo de ligação"
						    ng-options="tipoligacao for tipoligacao in tiposligacao" ng-model="ligacao.tipoligacao" >    
							    <option value="">Tipo</option>
							</select>	

						 	<p class="help-block text-danger"></p>
						</div>			
						
					</div>			
				
					<div class="row control-group">
			
						<div 
							class="form-group col-xs-12 floating-label-form-group controls floating-label-form-group-with-value">
							<label>Duração</label> <input type="text" class="form-control"
							placeholder="00min00s" id="Duracao" required
							data-validation-required-message="Por favor insira um nome" ng-model="ligacao.duracao">
							<p class="help-block text-danger"></p>
						</div>
						
						<div class="form-group col-xs-6 floating-label-form-group controls floating-label-form-group-with-value">
							<label>Data</label> 
							<input type="text" class="form-control date" placeholder="Data de Cadastro" ng-model="ligacao.data" id="data" required data-validation-required-message="Please enter your name.">
							<p class="help-block text-danger"></p>
						</div>
						
					</div>
					
					<div class="row control-group">

						<div class="form-group col-xs-12 floating-label-form-group controls floating-label-form-group-with-value">
						
							<label>Resumo</label>
							<textarea type="text" class="form-control"
								placeholder="Resumo" id="Descricao" required
								data-validation-required-message="Por favor insira um resumo"  ng-model="ligacao.resumo"></textarea>
							<p class="help-block text-danger"></p>
						</div>

					</div>	

					{{Resposta}}
					<div id="success"></div>
					<div class="row">
						<div class="form-group btn-group col-xs-12">
							<div class="form-group btn-group col-xs-12">
								<a class="btn btn-danger btn-lg to-left" href="#/Ligacao">Voltar</a>
								<a class="btn btn-success btn-lg to-right" ng-click='EnviarInformacao()' href="#/Ligacao">Salvar</a>		
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>