  <meta charset="UTF-8">
  
<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-text">
							<span class="name">{{Titulo}}</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="grid cidades" ng-controller="CidadeController">
		<div class="container">

			<div class="row">
				<div class="table-scrollable table-scrollable-borderless">
					<div class="col-sm-6 col-xs-12  search_bar">
						<input type="text" ng-model="procurar" class="form-control" ng-model="cidade.id" placeholder="Buscar Cidade" id="Nome da cidade" required data-validation-required-message="Por favor insira um nome">
					</div>
					<table id="printarea" class="table table-hover table-light col-xs-12">
						<thead>
						<tr class="uppercase">
							
							<th ng-click="ordenar('nome')">Nome</th>
							<th ng-click="ordenar('estado.nome')">Estado</th>
							<th ng-click="ordenar('estado.pais')">Páis</th>
							
							
							<th><a class="btn btn-success btn-sm to-right" href="#/Cidade/Cadastrar">Adicionar</a></th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="c in cidadelist |filter:procurar|orderBy:sortKey:reverse|itemsPerPage:5">

							
							<td>{{c.nome}}</td>
							<td>{{c.estado.nome}}</td>
							<td>{{c.estado.pais}}</td>

							<td class="btn-group">
							<div class="to-right btn-group">
								<a title="Editar {{Titulo}}" class="btn btn-warning btn-sm" href="#/Cidade/Editar/{{c.id}}">Editar</a>
								<a title="Excluir {{Titulo}}" class="btn btn-danger btn-sm" href="javascript:void(0)" ng-click='Excluir(c.id)'>Excluir</a> 
							</div>
						</td>
						</tr>
<!-- 						<tr> -->
<!-- 							<td colspan='3'> -->
<!-- 								{{Quantidade}} -->
<!-- 							</td> -->
<!-- 						</tr> -->
					</tbody>
					</table>
				</div>
				<div class="col-xs-12">
					<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
					<a class="btn btn-default btn-sm to-right" href="javascript:print();">Gerar Relatório</a>	
				</div>
			</div>
		</div>
	</section>