 <meta charset="UTF-8">
 <!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-text">
					<span class="name">{{Titulo}}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Portfolio Grid Section -->
<section class="grid tipo_telefone" ng-controller="TipoTelefoneController">
	<div class="container">

		<div class="row">
			<div class="table-scrollable table-scrollable-borderless">
				<div class="col-sm-6 col-xs-12  search_bar">
					<input type="text" ng-model="procurar" class="form-control" ng-model="tipoTelefone.id" placeholder="Buscar Tipo de Telefone" id="Nome do tipo de telefone" required data-validation-required-message="Por favor insira um nome">
				
				</div>
				<table class="table table-hover table-light col-xs-12">
					<thead>
						<tr class="uppercase">
							
							<th ng-click="ordenar('nome')">Nome</th>
							<th><a title="Adicionar {{Titulo}}" class="btn btn-success btn-sm to-right" href="#/TipoTelefone/Cadastrar">Adicionar</a></th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="tt in tipoTelefonelist |filter:procurar|orderBy:sortKey:reverse|itemsPerPage:5">

							<td>{{tt.nome}}</td>

							<td class="btn-group">
							<div class="to-right btn-group">
								<a title="Editar {{Titulo}}" class="btn btn-warning btn-sm" href="#/TipoTelefone/Editar/{{tt.id}}">Editar</a>
								<a title="Excluir {{Titulo}}" class="btn btn-danger btn-sm" href="javascript:void(0)" ng-click='Excluir(tt.id)'>Excluir</a> 
							</div>
						</td>
						</tr>
						<tr>
							<td colspan='3'>
								{{Resposta}}<br>
								{{Quantidade}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12">
				<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
			</div>
		</div>
	</div>
</section>