<meta charset="UTF-8">
<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-text">
					<span class="name">{{Titulo}}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Portfolio Grid Section -->
<section class="grid empresa" ng-controller="EmpresaController">
	<div class="container">

		<div class="row">
			<div class="table-scrollable table-scrollable-borderless">
				<div class="col-sm-6 col-xs-12  search_bar">
				<input type="text" class="form-control" ng-model="procurar"
						placeholder="Buscar Empresa" id="Nome da empresa" required
						data-validation-required-message="Por favor insira um nome">
				</div>
				<table id="printarea" class="table table-hover table-light col-xs-12">
					<thead>
						<tr class="uppercase">
							<th ></th>
							<th ng-click="ordenar('razaosocial')">Razão Social</th>
							<th ng-click="ordenar('tipoempresa')">Tipo</th>
<!-- 							<th ng-click="ordenar('ramo')">Ramo</th> -->
							<th ng-click="ordenar('site')">Site</th>							
							<th class="m_view" ng-click="ordenar('status')">Status</th>
							<th ng-click="ordenar('usuario')">Usuário Responsável</th>
<!-- 							<th class="m_view">Negócios</th> -->
							<th>
								<a class="btn btn-success btn-sm" href="#/Empresa/Cadastrar">Adicionar</a>
							</th>

						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="e in empresalist |filter:procurar|orderBy:sortKey:reverse|itemsPerPage:5">
	
							<td class="fit">
								<img class="user-pic img-circle" style="width:41px;height:41px;"src="http://localhost:8080/CRM/rest/restFoto/RetornaImagem/{{e.idfoto}}">
							</td>
							<td>{{e.razaosocial}}</td>
<!-- 							<td> -->
<!-- 								<a target="_blank" href="#/TipoEmpresa/Editar/{{e.tipoempresa.id}}" class="primary-link">{{e.tipoempresa.nome}}</a> -->
<!-- 							</td> -->
							<td>{{e.tipoempresa.nome}}</td>
<!-- 							<td>{{e.ramo}}</td> -->
							<td>
								<a target="_blank" href="http://{{e.site}}" class="primary-link">{{e.site}}</a>
							</td>							
							<td class="d_view">{{e.status}}</td>
							<td class="d_view">{{e.usuarioresponsavel.nome}}</td>
<!-- 							<td>15</td> -->
							
							<td class="btn-group">
							<div class="to-right btn-group">
								<a title="Editar {{Titulo}}" class="btn btn-default btn-sm" href="#/RelatorioAtividades/{{e.id}}">Relatório</a>
								<a title="Editar {{Titulo}}" class="btn btn-warning btn-sm" href="#/Empresa/Editar/{{e.id}}">Editar</a>
								<a title="Excluir {{Titulo}}" class="btn btn-danger btn-sm" href="javascript:void(0)" ng-click='Excluir(e.id)'>Excluir</a>
							</div>						
						</tr>					

					</tbody>
				</table>
			</div>
			<div class="col-xs-12">
				<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
				<a class="btn btn-default btn-sm to-right" href="javascript:print();">Gerar Relatório</a>			
			</div>
		</div>
	</div>
</section>