  <meta charset="UTF-8">

	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-text">
						<span class="name">{{Titulo}}</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Portfolio Grid Section -->
	<section class="grid_usuarios"  ng-controller="UsuarioController">
	
		<div class="container">

			<div class="row">
				<div class="table-scrollable table-scrollable-borderless">
					<div class="col-sm-6 col-xs-12  search_bar">
						<input type="text" class="form-control" ng-model="procurar"
							placeholder="Buscar Usuário" id="Nome do usuário" required
							data-validation-required-message="Por favor insira um nome">
					</div>
					<table class="table table-hover table-light col-xs-12">
						<thead>
							<tr class="uppercase">
								<th ></th>
								<th ng-click="ordenar('nome')">Nome</th>
								<th ng-click="ordenar('tipousuario')">Tipo</th>
								<th ng-click="ordenar('cargo')">Cargo</th>
								<th class="m_view" ng-click="ordenar('status')">Status</th>
<!-- 								<th class="m_view">Atividades</th> -->
								<th>
									<a class="btn btn-success btn-sm" href="#/Usuario/Cadastrar">Adicionar</a>
								</th>

							</tr>
						</thead>
						<tbody>
							<tr dir-paginate="u in usuariolist |filter:procurar|orderBy:sortKey:reverse|itemsPerPage:5">
								
								<td class="fit">
									<img class="user-pic img-circle" style="width:41px;height:41px;"src="http://localhost:8080/CRM/rest/restFoto/RetornaImagem/{{u.idfoto}}">
								</td>
								<td>{{u.nome}}</td>
								<td>{{u.tipousuario.nome}}</td>
								<td>{{u.cargo}}</td>
								
								<td class="d_view">{{u.status}}</td>
<!-- 								<td>45</td> -->
								<td class="btn-group">
								<div class="to-right btn-group">
									<a title="Editar {{Titulo}}" class="btn btn-warning btn-sm" href="#/Usuario/Editar/{{u.id}}">Editar</a>
									<a title="Excluir {{Titulo}}" class="btn btn-danger btn-sm" href="javascript:void(0)" ng-click='Excluir(u.id)'>Excluir</a> 
								</div>		
							</tr>
							

						</tbody>
					</table>
				</div>
				<div class="col-xs-12">
					<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>					
				</div>
			</div>
		</div>
	</section>