<meta charset="UTF-8">
<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-text">
						<span class="name">{{Titulo}}</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Portfolio Grid Section -->
	<section class="grid form_atividade" ng-controller="AtividadeController">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
					<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
					
					<form name="sentMessage" id="contactForm" novalidate>
						<div class="row control-group">
							
							<div class="row control-group">
							
								<div class="form-group col-xs-12 floating-label-form-group controls floating-label-form-group-with-value">

									<h3>DADOS GERAIS</h3>

								</div>
						
							<div
								class="form-group col-xs-12 floating-label-form-group controls">
								<label>Nome</label> 
								<input type="text" ng-model="atividade.nome" class="form-control"
									placeholder="Nome" id="nome" required
									data-validation-required-message="Por favor insira um nome">
								<p class="help-block text-danger"></p>
							</div>

							</div>

						
						
						<div class="row control-group">
							
						<div 
							class="form-group col-xs-6 floating-label-form-group controls">
							<label>Usuário Responsável</label>
							<select class="form-control" required data-validation-required-message="Por favor selecione um contato"
						    ng-options="usuario.nome for usuario in usuarios" ng-model="atividade.usuarioresponsavel" >    
							    <option value="">Usuário Responsável</option>
							</select>											

							<p class="help-block text-danger"></p>
							
						</div>
						
						<div
								class="form-group col-xs-6 floating-label-form-group controls">
								<label>Tipo de Atividade</label> 								
								<select class="form-control" required data-validation-required-message="Por favor selecione um tipo de contato"
									    ng-options="tipoatividade.nome for tipoatividade in tiposatividade track by tipoatividade.id" ng-model="atividade.tipoatividade" >    
									    <option value="">Tipo de Atividade</option>
									</select>	

								<p class="help-block text-danger"></p>

							</div>
						
							
						</div>

						<div class="row control-group">
						
						<div
						
							class="form-group col-xs-6 floating-label-form-group controls">
							<label>Contato</label>
							<select class="form-control" required data-validation-required-message="Por favor selecione um contato"
						    ng-options="contato.nome for contato in contatos" ng-model="atividade.contato" >    
							    <option value="">Contato</option>
							</select>											

							<p class="help-block text-danger"></p>
							
						</div>
						
						<div 
							class="form-group col-xs-6 floating-label-form-group controls">
							<label>Empresa</label>
							<select class="form-control" required data-validation-required-message="Por favor selecione uma empresa"
						    ng-options="empresa.razaosocial for empresa in empresas" ng-model="atividade.empresa" >    
							    <option value="">Empresa</option>
							</select>			
								
								<p class="help-block text-danger"></p>
						</div>

						</div>

						<div class="row control-group">

							<div 
								class="form-group col-xs-6 floating-label-form-group controls">
								<label>Data de Cadastro</label> 
								<input type="text" class="form-control date" placeholder="Data de Cadastro" ng-model="atividade.datacadastro" id="data_cadastro" required data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>

							<div 
								class="form-group col-xs-6 floating-label-form-group controls">
								<label>Situação</label> 
			      				<select class="form-control" required data-validation-required-message="Por favor selecione um tipo de usuário"
							    ng-options="situacao for situacao in situacoes" ng-model="atividade.situacao" >    
								    <option value="">Situação</option>
								</select>	
							 	<p class="help-block text-danger"></p>
							</div>
						</div>

						<div class="row control-group">

							<div
								class="form-group col-xs-6 floating-label-form-group controls">
								<label>Data Início</label> <input type="text"
									class="form-control date" placeholder="Data Início" ng-model="atividade.datainicio" 
									id="data_inicio" required data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>
							<div
								class="form-group col-xs-6 floating-label-form-group controls">
								<label>Data Fim</label> <input type="text"
									class="form-control date" placeholder="Data Fim" ng-model="atividade.datafim"
									id="data_fim" required data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>

						</div>

						<div class="row control-group">

							<div
								class="form-group col-xs-12 floating-label-form-group controls">
								<label>Descrição</label>
								<textarea type="text" class="form-control" ng-model="atividade.descricao"
									placeholder="Descrição" id="descricao" required
									data-validation-required-message="Por favor insira um nome"></textarea>
								<p class="help-block text-danger"></p>
							</div>


						</div>

						</div>
						
						<div id="success"></div>
						<div class="row">
							<div class="form-group btn-group col-xs-12">
								<a class="btn btn-danger btn-lg to-left" href="#/Atividade">Voltar</a>
								<a class="btn btn-success btn-lg to-right" ng-click='EnviarInformacao()'>Salvar</a>		
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>